<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<h3>注册页面</h3>
<form action="#" th:action="@{/register/user}" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td>
                <input type="text" placeholder="2-8个字符" name="userName" required="required">
            </td>
        </tr>
        <tr>
            <td>手机号：</td>
            <td>
                <input type="text" name="phone" placeholder="选填">
            </td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td>
                <input type="email" name="email" required="required">
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input type="password" name="password" placeholder="6-12个字符" required="required">
            </td>
        </tr>
        <tr>
            <td>确认密码：</td>
            <td>
                <input type="password" name="confirmPwd" placeholder="再次输入密码" required="required" onblur="check()">
            </td>
        </tr>
        <tr>
            <td>验证码：</td>
            <td>
                <input type="text" name="code" placeholder="请输入验证码" th:value="${code}">
            </td>
        </tr>
        <tr>
            <td><input type="submit" placeholder="注册"></td>
        </tr>
    </table>
</form>
</body>
<script type="text/javascript">
    function check() {
        var password = document.getElementsByName("password")[0].value;
        var confirmPwd = document.getElementsByName("confirmPwd")[0].value;
        if (password !== confirmPwd) {
            alert("密码输入不一致，请再次确认");
            document.getElementsByName("confirmPwd")[0].value = '';
            return false;
        }
    }
</script>
</html>